{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
    <title>Article Home</title>
</head>
<body>
   <h1>This is article</h1>
   {% for article in articles %}
     <div class="article">
        <h1>
            <a href="#">
                {{article.title}}
            </a>
        </h1>
        <p>{{article.snip}}</p>
        <p>{{article.date}}</p>
     </div>
   {%endfor%}
</body>
</html>